.ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 110px);
}

.pfc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  color: #8585ad;
}
