.header {
    display: inline-flex;
    align-items: center;
    flex-shrink: 1;
    width: 100%;
}

.logo {
    flex: 2;
}

.menuItem {
    color: #8585AD;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    flex-shrink: 1;
}

.selectedMenuItem {
    composes: menuItem;
    color: #ffffff;
}

.menuItemIcon {
    line-height: 10px;
}